= simple_form_for(@import_table) do |f|
  - if @import_table.errors.any?
    #error_explanation
      %h2
        = pluralize(@import_table.errors.count, "error")
        prohibited this import_table from being saved:

      %ul
        - @import_table.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = f.input :original_path

  .actions
    = f.button :submit
