= simple_form_for @user do |f|
	/= render 'shared/error_messages', :object => @user
	.field
		= f.label :first_name
		%br
		= f.input :first_name, :label => false
	.field
		= f.label :last_name
		%br
		= f.input :last_name, :label => false
	.field
		= f.label :email
		%br
		= f.input :email, :label => false
	.actions
		= f.button :submit