= simple_form_for @user do |f|
  /= render 'shared/error_messages', :object => @user
  .field
    = f.input :first_name
  .field
    = f.input  :last_name
  .field
    = f.input :email
  .field
    = f.input :role, :collection => User::ROLES
  .field
    = f.input :password
  .field
    = f.input :password_confirmation
  .action
    = f.button :submit

= link_to t('Back'), users_path