Delivery of: 
= l Date.today
/%table
/  %th= 'product'
/  %th= 'quantity'
/  - Settings.default_delivery.products.each do |product|
/    %tr
/      %td= product.name
/      %td= product.quantity
= simple_form_for @customer do |f|
  = f.simple_fields_for :deliveries do |deliveries_f|
    = deliveries_f.association :products, :multiple => true, :selected => @products_selected.id, :input_html => { :title => "- Select product -" }
    /= deliveries_f.label :notes, t('notes')
    /%br
    = deliveries_f.input :notes

  .box
    .column.span-14.prepend-5
      = f.submit
