%p
  Delivery of: 
  = l Date.today

/%table
/  %th= 'product'
/  %th= 'quantity'
/  - Settings.default_delivery.products.each do |product|
/    %tr
/      %td= product.name
/      %td= product.quantity
= simple_form_for @customer do |f|
  = f.simple_fields_for :deliveries do |deliveries_f|
    .block
      .column.span-12
        = deliveries_f.association :products, :multiple => true, :selected => @products_selected_id, 
                                   :input_html => { :title => "- Select product -" }, :label => false
        = deliveries_f.input :notes
    .block
      .column.span-12
        quantity

  .block
    .column.span-14
      = f.submit
