%p
  Delivery of: 
  = l Date.today

= simple_form_for @customer do |f|
  = f.simple_fields_for :deliveries do |delivery_f|
    %table{:class => "delivery_tbl"}
      %th products
      %th quantity
      = delivery_f.simple_fields_for :delivery_items do |item_f|
        %tr{:class => "fields"}
          %td{:class => "delivery_tbl"}
            = item_f.association :product, :label => false
          %td{:class => "delivery_tbl"}
            = item_f.input :quantity, :label => false
          %td{:class => "delivery_tbl"}
            = item_f.hidden_field :_destroy
            = link_to_remove_fields "remove", item_f
    = delivery_f.input :notes
  = f.submit
