%p
  Delivery of: 
  = l Date.today

= simple_form_for @customer do |f|
  = f.simple_fields_for :deliveries do |delivery_f|
    = delivery_f.simple_fields_for :delivery_items do |item_f|
      = item_f.association :product
      = item_f.input :quantity
  = f.submit
