%h3 Customer
%p
  = @customer.full_name
  &ndash;
  = @customer.address
  &ndash;
  = @customer.city
  &ndash;
  = @customer.area
  &ndash;
  = @customer.postal_code
%hr/
- simple_form_for Delivery.new do |f|
  = f.association :product
  = f.input :quantity
  = f.input :customer_id, :as => :hidden, :input_html => { :value => params[:customer_id] }
  = f.input :notes, :as => :string
  = f.button :submit

%hr/    
%table
  %tr
    %th Product
    %th Quantity
    %th Delivared at
  - @deliveries.each do |d|
    %tr
      %td= d.product.name
      %td= d.quantity
      %td= d.created_at