.list
  - if @customers.present?
    %p= page_entries_info
    %table
      %thead
        %tr
          %th= t 'full_name'
          %th= t 'date_of_birth'
          %th= t 'SSN'
          %th= t 'address' 
          %th= t 'postal_code'
          %th= t 'city'
          %th= t 'area'        
          %th= t 'sq'
          %th
      %tbody
        = render @customers
    %br
    = will_paginate :previous_label => "« prec.", :next_label =>"succ. »"