<% if customer.square_meters <= @valid_sq %>
  <tr class='error'>
<% else %>
  <tr>
<% end %>    
  <td><%= customer.full_name %></td> 
  <td><%= l customer.birth_date %></td>
  <td><%= customer.ssn %></td>
  <td><%= customer.address %></td>
  <td><%= customer.postal_code %></td>
  <td><%= customer.city %></td>
  <td><%= customer.area %></td>
  <td><%= customer.square_meters %></td>
  <td><%= link_to t('Details'), customer %></td>
