.list
  - if @customers.present?
    %table
      %thead
        %tr
          %th= t 'full_name'
          %th= t 'date_of_birth'
          %th= t 'SSN'
          %th= t 'address' 
          %th= t 'postal_code'
          %th= t 'city'
          %th= t 'area'        
          %th= t 'sq'
          %th
      %tbody
        = render @customers
    %br
    = paginate @customers