.block
  .column.span-24
    %p Customer
    %p
      %label Anno:
      = @customer.year

    %p
      %label Nominativo:
      = @customer.full_name

    %p
      %label Data di nascita:
      - if @customer.birth_date
        = l @customer.birth_date    
      - else
        = @customer.birth_date

    %p
      %label Indirizzo di residenza:
      = @customer.address

    %p
      %label Codice postale:
      = @customer.postal_code

    %p
      %label Città:
      = @customer.city

    %p
      %label Prov.:
      = @customer.prov

    %p
      %label Codice fiscale:
      = @customer.tax_code

    %p
      %label Numero contratto:
      = @customer.contract_number

    %p
      %label Metri quadri:
      = @customer.square_meters

    %p
      %label Categoria:
      = @customer.category

    %p
      %label Indirizzo di riferimento:
      = @customer.taxable_address

    %br
    %p
      = link_to 'Indietro', "javascript:history.back()"
