= javascript_include_tag "sign_in"

#sign-in
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %label Email
    %br/
    = f.text_field :email, :class => "title"
    %label Password
    %br/
    = f.password_field :password, :class => "title"
    - if devise_mapping.rememberable?
      %label= t :remember_me
      = f.check_box :remember_me
    %br/
    %br/
    = f.submit "Sign in", :class => "button"
    %br/
    %br/
    = render :partial => "devise/shared/links"
%br/