!!! Strict
%html
  %head
    %title= yield :title || "Differenzia"
    /[if lt IE 9]
      %script{:src  => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'differenzia'
    = javascript_include_tag :defaults, 'searchbox'
    = csrf_meta_tag
    = yield :header
  %body
    .container
      %header 
        %h1 Differenzia
      %section{:class => 'round'}      
        - unless flash.empty?
          #flash
            = content_tag :div, flash[:notice], :class => "notice" unless flash[:notice].blank?
            = content_tag :div, flash[:error], :class => "error" unless flash[:error].blank?
        = yield
