!!! 5
%html
  %head
    %title= (yield(:title).blank? ? "Differenzia" : "Differenzia - #{yield(:title)}")
    %meta{:name => "description", :content => "host-tastic support system"}
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/app', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'jquery.asmselect'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"
    = javascript_include_tag 'rails', 'application', 'searchbox', 'jquery.asmselect'
    = csrf_meta_tag
  %body
    #header
      %h1 Differenzia
      .user-details= render 'shared/user_details'
    .container.showgrid
      .block
        .column.span-24
          %div
            %h2{:class => 'alt'}
              A simple product delivery software where operators can manage
              products, customers and stocks.
      .block
        .column.span-24
          %div
            - flash.each do |key, value|
              - unless value.blank?
                %div(class="#{key}")
                  = value
      .block
        .column.span-24
          #navigation
            = render_navigation(:level => 1) if user_signed_in?
        .block
          .column.span-24
            %div
              = yield
      .block
        .column.span-24
          %div
            %hr
            %em Copyright Mauro Sanna e Riccardo Tacconi
