!!! 5
%html
  %head
    %title= (yield(:title).blank? ? "Differenzia" : "Differenzia - #{yield(:title)}")
    %meta{:name => "description", :content => "host-tastic support system"}
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/app', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.js"
    = javascript_include_tag :defaults, 'searchbox'
    = csrf_meta_tag
  %body
    #header
      %h1 Differenzia
      .user-details= render 'shared/user_details'
    .container.showgrid
      .block
        .column.span-24{:style => 'background-color: red'}
          %div
            %h2{:class => 'alt'}
              A simple product delivery software where operators can manage
              products, customers and stocks.
      .block
        .column.span-24
          %div
            - if flash[:notice].present?
              .notice
                = flash[:notice]
            -if flash[:alert].present?
              .alert
                = flash[:alert]
      .block
        .column.span-4
          %div
            = render :partial => 'shared/menu'
        .column.span-20
          %div
            = yield
      .block
        .column.span-24
          %div
            %hr
          Copyright Mauro Sanna e Riccardo Tacconi